.btn.btn-sm {
    padding: 4px 8px;
    font-size: 11px;
    line-height: 1.2;
    border-radius: 3px;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}

.btn-primary {
    background-color: #000000;
    border-color: #000000b7;
    color: white;
}

.btn:hover {
    opacity: 0.9;
    color: rgb(22, 4, 4) !important;
}